.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 1rem;
}

.form {
  width: 100%;
  max-width: 512px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1f2937;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .form-group {
    flex-direction: row;
    align-items: center;
  }
}

.label {
  color: #002c5f;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  width: 100%;
  text-align: right;
}

@media (min-width: 640px) {
  .label {
    width: 100px;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: right;
  }
}

.email-field,
.textarea-field {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  transition-property: border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "NotoSansKRL", sans-serif;
}

.textarea-field {
  height: 150px;
}

.email-field:focus,
.textarea-field:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.submitBtn {
  background-color: #002c5f;
  color: white;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}
@media (min-width: 640px) {
  .submit-btn {
    width: auto;
  }
}
